#section-bg{
    width: 60%;
    height: 100%;
    background: black;
    border-radius: 50px;
    float: left;
    padding-left: 5%;
    padding-top: 2%;
    padding-right: 5%;
}

#aside-bg{
    width: 25%;
    height: 500px;
    background: black;
    border-radius: 50px;
    float: right;
}
header{
    font-family: Arial, serif;
    color: #ff6600;
}

p, nav{
    color:white;
    font-family: Arial, serif;
}

h2, h3{
    color: #ff6600;
    font-family: Arial, serif;
}

img{
    display:block;
    margin:auto;
    width: 40%;
}

aside{
    text-align: center;
}

ul {
    list-style-type: none;
    text-align: left;
}
